#manage-header {
    font-family: Raleway, sans-serif;
    font-size: 3em;
}

#manage-form {
max-width: 330px;
padding: 15px;
margin: 0 auto;
font-family: RobotoSlab, sans-serif;
}

#purse-table {
    margin-top: 4em;
    font-size: 1.6em;
    font-family: Dosis, sans-serif;
}

.unfollow-button {
    float: right;
    margin-left: 1em;
}

#laucher-button {
    opacity: 0;
    transition: opacity 0.4s linear;
}

#upload-photo-chat:hover {
    color: grey !important;
}