#blogs-header {
    margin: 1em 0 0.5em;
    font-size: 2em;
    font-family: Raleway, sans-serif;
}

.blog-block {
    padding: 2em 4em;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 2px 2px 4px grey;
    background-color: white;
    margin-bottom: 2em;
}

#send-blog-block span {
    margin-left: 0.5em;
    margin-right: 1em;
}

#send-block-tools i {
    font-size: 1.6em;
}

.sender-at {
    margin-left: 0.6em;
    font-size: 1.2em;
}
.sender-name {
    font-family: RobotoSlab, sans-serif;
    font-size: 1.6em;
}

.sender-id {
    font-family: Dosis, sans-serif;
}

.sent-time {
    font-family: Raleway, sans-serif;
    font-size: 0.9em;
}

.blog-content {
    margin-top: 0.8em;
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
}

#send-blog-block {
    margin: 1em 0 2em;
}

#send-blog-block label {
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
    color: grey;
}

#send-blog-block textarea {
    min-height: 6em;
    resize: vertical;
}

#send-blog-block button {
    float: right;
    margin-right: 1em;
    transition-duration: 0.3s;
}

#uncontrolled-tab-example {
    margin-bottom: 1em;
}

#search-bar {
    position: relative;
    max-width: 180px;
    left: 56em;
}

#search-bar input {
    display: inline;
    width: 166px;
}

#search-bar i {
    position: relative;
    right: 2em;
}