.register-block {
    padding-top: 4em;
    font-family: Raleway, sans-serif;
}

.register-block h1 {
    font-size: 3em;
}

form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
